@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Jalnan2', sans-serif;
}

@font-face {
  font-family: "Jalnan2";
  font-weight: normal;
  font-style: normal;
  src: url("../../public/fonts/Jalnan2TTF.ttf") format("truetype");
}

input {
  font-size: 16px !important;
}